html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass,
.sky,
.road{
    position: relative;
}

.sky{
    height: 40%;
    background-color: aqua;
}

.grass{
    height: 25%;
    background-color: green;
}

.road{
    border-top: 0.5rem solid gray;
    height: 35%;
    background-color: rgb(26, 26, 26);
}

.lines{
    box-sizing: border-box;
    height: 0;
    margin-top: 10em;
    border-top: 5px dashed white;
}

.mario{
    position: absolute;
    top: -40px;
    left: 0%;
    animation: drive;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.luigi{
    position: absolute;
    top: 100px;
    left: 0%;
    animation: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud{
 position: absolute;   
}

.cloud:nth-child(1){
    opacity: 0.8;
    animation: wind 80s linear infinite reverse;

}

.cloud:nth-child(2){
    height: 150px;
    top: 5rem;
    opacity: 1;
    animation: wind 65s linear infinite reverse;
}

@keyframes drive{
    from{ 
        transform: translateX(-100px);
    }

    to{
        transform: translateX(1920px);
    }
}

@keyframes wind{
    from{left:-300px}
    to{left: 100%;}
}