body{
    margin: 0;
    padding: 0;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background: blue;
}
.two {
    background: red;
}
.tree {
    background: green;
}
.four {
    background: yellow;
}

.outer-wrapper {
    width: 100%;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}